#root {
  background-color: black;
}

html,
body {
  height: 100%;
  margin: 0;
}

footer {
  background-color: #cbf078;
}

.btn-primary {
  background-color: #cbf078;
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  width: 90px;
  text-align: center;
}

header {
  border-bottom: 2px solid #cbf078;
}

/* .inputField{

} */
