#root {
  background-color: black;
}

html,
body {
  height: 100%;
  margin: 0;
}

footer {
  background-color: #cbf078;
}

.btn-primary {
  background-color: #f97316;
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #cbf078;
}

.act-button {
  background-color: #cbf078;
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
}

.btn-secondary {
  background-color: #f97316;
  color: black;
  padding: 5px 10px;
  width: 150px;
  text-align: center;
}

.btn-secondary:hover {
  cursor: pointer;
  background-color: #cbf078;
}

.act-button-sec {
  background-color: #cbf078;
  color: black;
  padding: 5px 10px;
  width: 150px;
  text-align: center;
}

header {
  border-bottom: 2px solid #cbf078;
}

.scale-in {
  transform: scalex(0);
  animation: scale-in 250ms ease-in-out forwards;
}

@keyframes scale-in {
  from {
    transform: scalex(0);
  }
  to {
    transform: scalex(1);
  }
}

appear {
  opacity: 0;
  animation: appear 250ms ease-in-out forwards;
  animation-delay: 250ms;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
